@using PMT.Services;
@model Story;

@{
  ViewData["Title"] = "My Stories";
  string checkedState = (string)ViewData["checked"];
  bool checkStateForServer = (checkedState != "checked");
  List<Story> myStories = ViewData[Str.Stories] as List<Story>;
}

<script type="text/javascript" src="/js/Agile/myStories.js"></script>

<section id="myStoriesContent" class="content-container">
  <div class="title-wrap">
    <h1>My Stories</h1>
  </div>

  <div class="table-wrap">
    <table>
      <thead>
        <tr>
          <th colspan="5">
            <div class="table-config-wrap">
              <div class="checkbox-wrap">
                <a asp-controller="@Str.Agile" asp-action="@Str.MyStories" asp-route-showResolved="@checkStateForServer">
                  <input type="checkbox" name="showResolved" @checkedState>
                </a>
                <label for="showResolved">Show resolved issues</label>
              </div>

              <form method="post" asp-controller="@Str.Agile" asp-action="" class="my-stories-search-wrap">
                <input type="text" placeholder="search..." />
                <button type="submit" class="btn">Filter</button>
              </form>
            </div>
          </th>
        </tr>
        <tr>
          <th class="sortable-th" id="thDueDate">Due Date</th>
          <th class="sortable-th" id="thTitle">Title</th>
          <th>Details</th>
          <th class="sortable-th" id="thStatus">Status</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody id="myStoriesTbody">
        @{
          if (myStories.Count() == 0)
          {
            <tr>
              <td colspan="5">No stories to display...</td>
            </tr>
          }
          for (int i = 0; i < myStories.Count(); i++)
          {
            <tr id="myStoriesTR_@i">
              <td class="sortDueDate">@myStories[i].DueDate.ToString("MMM dd, yyyy")</td>
              <td class="sortTitle">@myStories[i].Title</td>
              <td><a asp-asp-controller="@Str.Agile" asp-action="@Str.StoryDetails" asp-route-storyId="@myStories[i].Id"><img src="/icons/Folder.png"></a></td>
              <td class="sortStatus">
                <div class="status-wrap">
                  <div class="@myStories[i].Status"><div></div><div></div></div>
                  <label>@myStories[i].Status</label>
                </div>
              </td>
              <td><img class="del-btn" src="/icons/Delete.png" data-idToDel="@myStories[i].Id"></td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>

  <div class="btn-wrap">
    <a asp-controller="@Str.Agile" asp-action="@Str.NewStory" class="btn">New Story</a>
    <a asp-controller="@Str.Agile" asp-action="@Str.AgileOutline" class="btn">Agile Outline</a>
    <a asp-controller="@Str.Agile" asp-action="@Str.Timeline" class="btn">Timeline</a>
  </div>
</section>

<section id="delStoryModal" class="screen-tint hide">
  <form method="post" asp-controller="@Str.Agile" asp-action="@Str.DeleteStory" class="del-story-modal">
    <h3>Are you sure you want to delete this story?</h3>
    <div class="btn-wrap">
      <button class="btn" type="submit">Delete</button>
      <button class="btn" type="button" id="delCancelBtn">Cancel</button>
    </div>
    <input id="idToDelInput" type="hidden" asp-for="Id" />
    <div class="close-btn"><img src="/icons/CloseBtn.png" tabindex="0" id="delCloseBtn" /></div>
  </form>
</section>
