@using PMT.Services;
@model Story;

@{
  ViewData["Title"] = "New Story";
  string projDueDate = (string)ViewData["ProjDueDate"] ?? Model.DueDate.ToString("yyyy-MM-dd");
}

<script type="text/javascript" src="~/js/Agile/newStory.js"></script>

<form asp-controller="@Str.Agile" asp-action="@Str.NewStory" id="newStoryContent" class="content-container preload">
  <div class="title-wrap">
    <h1>New Story</h1>
  </div>

  <div class="input-wrap">
    <label>Title:</label>
    <input asp-for="Title" type="text">
  </div>

  <div class="input-wrap">
    <label>Due:</label>
    <input asp-for="DueDate" type="date" value="@projDueDate">
  </div>

  <div class="input-wrap">
    <label>Points:</label>
    <select asp-for="Points">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="8">8</option>
      <option value="13">13</option>
    </select>
  </div>

  <div class="input-wrap">
    <label>Description:</label>
    <textarea asp-for="Description"></textarea>
  </div>

  <div class="btn-wrap">
    <button type="submit" class="btn">Create</button>
    <a asp-controller="@Str.Agile" asp-action="@Str.MyStories" class="btn">Back</a>
  </div>
</form>
