@using PMT.Services;
@model Story;

@{
  ViewData["Title"] = "Story Details";
  string resolvedDate = (Model.DateResolved != DateTime.MinValue) ? Model.DateResolved.ToString("d") : "N/A";
}

<script type="text/javascript" src="~/js/Agile/storyDetails.js"></script>

<form method="post" asp-controller="@Str.Agile" asp-action="@Str.UpdateStoryDetails" id="storyDetailsContent" class="content-container preload">
  <div class="info-panel toggle-read-edit">
    <div>
      <label>Reported:</label>
      <span>@Model.DateCreated.ToString("d")</span>
    </div>
    <div>
      <label>Resolved:</label>
      <span>@resolvedDate</span>
    </div>
    <div>
      <label>Due:</label>
      <span class="read-data">@Model.DueDate.ToString("d")</span>
      <input asp-for="DueDate" class="edit-data fade-abs" type="date">
      <img tabindex="0" class="edit-btn" src="/icons/Edit.png">
    </div>
    <div>
      <label>Status:</label>
      <span>@Model.Status</span>
    </div>
  </div>

  <div class="title-wrap toggle-read-edit">
    <h1 class="read-data">@Model.Title</h1>
    <input asp-for="Title" class="edit-data fade-abs" />
    <img tabindex="0" class="edit-btn" src="/icons/Edit.png">
  </div>

  <div class="input-field-wrap toggle-read-edit">
    <div class="top-div">
      <label>Points:</label>
      <img tabindex="0" class="edit-btn" src="/icons/Edit.png">
    </div>
    <div class="bot-div">
      <p class="read-data">@Model.Points</p>
      <select asp-for="Points" class="edit-data fade-abs">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="8">8</option>
        <option value="13">13</option>
      </select>
    </div>
  </div>

  <div class="input-field-wrap toggle-read-edit">
    <div class="top-div">
      <label>Description:</label>
      <img tabindex="0" class="edit-btn" src="/icons/Edit.png">
      <img tabindex="0" id="copyBtn" src="/icons/copy.png">
    </div>

    <div class="bot-div">
      <p class="read-data">@Model.Description</p>
      <textarea asp-for="Description" id="descriptionText" class="edit-data fade-abs">@Model.Description</textarea>
    </div>
  </div>

  <div class="mark-as-resolved-wrap">
    <button type="button" id="resolvedBtn" class="btn">Mark as resolved</button>
    <div id="confIcon" class="confirmation hide"><div></div><div></div></div>
    <input id="statusInput" type="hidden" asp-for="Status" />
  </div>

  <div class="btn-wrap">
    <button type="submit" class="btn">Update</button>
    <a asp-controller="@Str.Agile" asp-action="@Str.MyStories" class="btn">Back</a>
  </div>

  <img tabindex="0" id="delBtn" src="/icons/Delete.png">
  <input type="hidden" asp-for="Id" value="@Model.Id" />
  <input type="hidden" asp-for="Title" value="@Model.Title" />
  <input type="hidden" asp-for="DateCreated" value="@Model.DateCreated" />
  <input type="hidden" asp-for="ProjId" value="@Model.ProjId" />
</form>

<section id="delStoryModal" class="screen-tint fade">
  <form method="post" asp-controller="@Str.Agile" asp-action="@Str.DeleteStory" class="del-story-modal">
    <h3>Are you sure you want to delete this story?</h3>
    <div class="btn-wrap">
      <button class="btn" type="submit">Delete</button>
      <button class="btn" type="button" id="delCancelBtn">Cancel</button>
    </div>
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <div class="close-btn"><img src="/icons/CloseBtn.png" tabindex="0" id="delCloseBtn" /></div>
  </form>
</section>
