@using PMT.Services;
@model Project;

@{
	ViewData["Title"] = "Delete Project";
}

<script type="text/javascript" src="/js/Project/deleteProject.js"></script>

<img class="background-img" src="/images/PMTAccountBackground.png">

<section id="deleteProjectContent">
  <form method="post" asp-controller="@Str.Project" asp-action="@Str.DeleteProject" class="confirmation-modal-wrap">
    <h3>Type "@(Model.Name)" To Confirm</h3>
    <div class="input-wrap">
      <input id="confInput" type="text" placeholder="@Model.Name" autocomplete="off">
    </div>
    <div class="btn-wrap">
      <button type="submit" id="newProjBtn" class="btn">Delete</button>
      <a asp-controller="@Str.Project" asp-action="@Str.MyProjects" class="btn">Cancel</a>
    </div>
    <input asp-for="Id" type="hidden" value="@Model.Id" />
  </form>

  <div class="logout-btn-wrap">
    <img src="/icons/LogoutDoor.png">
  </div>
</section>
