@using PMT.Services;
@model Project;

@{
  ViewData["Title"] = "My Projects";
  List<string> projectRoles = ViewData["ProjRoles"] as List<string>;
  List<Project> projects = ViewData[Str.Projects] as List<Project>;
  int defaultProjId = (int)ViewData["defaultProjId"];

  // track error and modal state
  string joinProjErrMsg = (string)ViewData["Join_Proj_Err_Msg"];
  string joinProjErrClass = string.Empty;
  string modalOpenState = "fade";
  string mainClickableState = string.Empty;

  if (string.IsNullOrEmpty(joinProjErrMsg) == false)
  {
    joinProjErrClass = "err-input";
    modalOpenState = string.Empty;
    mainClickableState = "unclickable";
  }
}

<script type="text/javascript" src="~/js/Project/myProjects.js"></script>
<script type="text/javascript" src="~/js/validations.js"></script>

<img class="background-img" src="/images/PMTAccountBackground.png">

<section id="myProjectsContent" class="@mainClickableState">
  <form method="post" asp-controller="@Str.Project" asp-action="@Str.SetDefaultProjId" class="table-wrap">
    <table>
      <thead>
        <tr>
          <th>Favorite</th>
          <th>Project</th>
          <th>Join Code</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbdoy>
        @{
          if (projects.Count() == 0)
          {
            <tr>
              <td colspan="5">No projects to display...</td>
            </tr>
          }
          for (int i = 0; i < projects.Count(); i++)
          {
            // star the default project if it exists
            string imgSource = (defaultProjId == projects[i].Id) ? "/Icons/FavStar.png" : "/icons/EmptyFavStar.png";

            string formattedStart = $"{projects[i].StartDate.ToString("yyyy")}-{projects[i].StartDate.ToString("MM")}-{projects[i].StartDate.ToString("dd")}";
            string formattedDue = $"{projects[i].DueDate.ToString("yyyy")}-{projects[i].DueDate.ToString("MM")}-{projects[i].DueDate.ToString("dd")}";

            <tr>
              <td><button type="submit"><img tabindex="0" src="@imgSource" class="favStar" data-id="@projects[i].Id"></button></td>
              <td><a asp-controller="@Str.Project" asp-action="@Str.ProjectDash" asp-route-projId="@projects[i].Id">@projects[i].Name</a></td>
              <td data-joinCode="@projects[i].JoinCode" class="flex-td">@projects[i].JoinCode <img tabindex="0" class="copy-btn btn text-btn" src="/icons/copy.png"></td>
              <td><img tabindex="0" class="edit-proj-btn btn text-btn" title="Edit Project" src="/Icons/Edit.png" data-projId="@projects[i].Id" data-projName="@projects[i].Name" data-projStart="@formattedStart" data-projDue="@formattedDue">
              </td>
              @if (projectRoles[i] == "ProjectManager")
              {
                <td><a asp-controller="@Str.Project" asp-action="@Str.DeleteProject" asp-route-projIdToDelete="@projects[i].Id"><img tabindex="0" title="Delete Project" src="/icons/Delete.png"></a></td>
              }
              else if (projectRoles[i] == "Developer")
              {
                <td><img tabindex="0" class="leave-proj-btn btn text-btn" title="Leave Project" src="/Icons/deny.png" data-projId="@projects[i].Id"></td>
              }
            </tr>
          }
        }
      </tbdoy>
    </table>
    <input asp-for="Id" type="hidden" id="defaultProjIdInput" />
  </form>

  <div class="img-btn-wrap">
    <img src="~/icons/Plus.png">
    <button type="button" id="newProjBtn" class="btn">New Project</button>
  </div>

  <div class="img-btn-wrap">
    <img src="~/Icons/Pfp0.png">
    <button type="button" id="joinProjBtn" class="btn">Join Project</button>
  </div>

  <form method="post" asp-controller="@Str.Account" asp-action="@Str.Logout" class="logout-btn-wrap">
    <button type="submit"><img src="/icons/LogoutDoor.png" title="Logout"></button>
  </form>
</section>

<section id="newProjModal" class="screen-tint fade">
  <form method="post" asp-controller="@Str.Project" asp-action="@Str.NewProject" id="newProjForm" class="new-proj-modal">
    <h3>Create Project</h3>
    <div class="span-err-div">
      <input asp-for="Name" type="text" id="newProjName" placeholder="Project Name">
      <span id="newProjNameErr" class="err hide"></span>
    </div>
    <div class="date-inputs">
      <div class="input-date-wrap">
        <label>Start Date</label>
        <div class="span-err-div">
          <input asp-for="StartDate" type="date" id="newProjStartDate">
          <span id="newProjStartDateErr" class="err hide"></span>
        </div>
      </div>
      <div class="input-date-wrap">
        <label>Due Date</label>
        <div class="span-err-div">
          <input asp-for="DueDate" type="date" id="newProjDueDate">
          <span id="newProjDueDateErr" class="err hide"></span>
        </div>
      </div>
    </div>
    <button type="submit" id="projFormBtn" class="btn">Create</button>
    <div class="close-btn"><img src="/icons/closeBtn.png" tabindex="0" id="newProjCloseBtn" /></div>
    <input type="hidden" asp-for="Id" id="editProjIdInput" />
  </form>
</section>

<section id="joinProjModal" class="screen-tint @modalOpenState">
  <form method="post" asp-controller="@Str.Project" asp-action="JoinProject" asp-route-joinCode="" id="joinProjForm" class="join-proj-modal">
    <h3>Join Project</h3>
    <div id="joinCodeInputWrap" class="input-wrap @joinProjErrClass">
      <input type="text" id="joinCodeInput" placeholder="Join Code...">
      <span id="joinProjErrSpan" class="err @modalOpenState">@joinProjErrMsg</span>
    </div>
    <button type="submit" class="btn">Join</button>
    <div class="close-btn"><img src="/icons/closeBtn.png" tabindex="0" id="joinProjCloseBtn" /></div>
  </form>
</section>

<section id="leaveProjModal" class="screen-tint fade">
  <form method="post" asp-controller="@Str.Project" asp-action="LeaveProject" asp-route-projIdToLeave="" id="leaveProjForm" class="leave-proj-modal">
    <h3>Leave Project?</h3>
    <div class="leave-proj-btn-wrap">
      <button type="submit" class="btn" id="leaveProjBtn">Leave</button>
      <button type="button" class="btn leave-proj-close-btn">Cancel</button>
    </div>
    <div class="close-btn leave-proj-close-btn"><img src="/icons/closeBtn.png" tabindex="0" /></div>
  </form>
</section>
