@using PMT.Services;
@using PMT.Services.ProjectMetrics;
@model Project;

@{
  ViewData["Title"] = "Project Dash";
  Project proj = ViewData[Str.CurrentProject] as Project;
  PieChartData pieChart = ViewData["PieChartData"] as PieChartData;
  BarGraphData barGraph = ViewData["BarGraphData"] as BarGraphData;
}

<input type="hidden" id="projIdForJs" value="@proj.Id" />
<script type="text/javascript" src="~/js/signalr.js"></script>
<script type="text/javascript" src="~/js/Project/projectDash.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<section id="projectDashboardContent" class="content-container preload">
  <partial name="../_NavBar.cshtml">

  <div class="title-wrap">
    <h1>@proj.Name - Dashboard</h1>
  </div>

    <section class="team-productivity">
      <div class="right-div">
        <div class="team-prod-ctrl-panel">
          <h2>Team Productivity</h2>
          <div class="pagination-wrap">
            <img id="prodLeftPage" src="/Icons/paginationLeft_512x512.png" alt="">
            <img id="prodRightPage" src="/Icons/paginationRight_512x512.png" alt="">
          </div>
          <label id="sprintIndexLabel">Sprint 1 of @barGraph.NumberOfSprints</label>
        </div>
        <div class="bar-container">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <div class="x-info">
          <div class="time-label-wrap">
            <div title="Sunday">S</div>
            <div title="Monday">M</div>
            <div title="Tuesday">T</div>
            <div title="Wednesday">W</div>
            <div title="Thursday">R</div>
            <div title="Friday">F</div>
            <div title="Saturday">S</div>
            <div title="Sunday">S</div>
            <div title="Monday">M</div>
            <div title="Tuesday">T</div>
            <div title="Wednesday">W</div>
            <div title="Thursday">R</div>
            <div title="Friday">F</div>
            <div title="Saturday">S</div>
          </div>
          <h3 id="sprintDateLabel">@(barGraph.SprintDates[0][0]) - @(barGraph.SprintDates[0][1])</h3>
        </div>
      </div>
    </section>



    <section class="burn-chart">
      <div class="right-div">
        <div class="team-prod-ctrl-panel">
          <h2>Burn Down Chart</h2>
        </div>
        <div class="graph-container">
          <div id="curveChart"></div>
        </div>
        <div class="x-info">
          <div class="time-label-wrap">
            <div title="Sunday">S</div>
            <div title="Monday">M</div>
            <div title="Tuesday">T</div>
            <div title="Wednesday">W</div>
            <div title="Thursday">R</div>
            <div title="Friday">F</div>
            <div title="Saturday">S</div>
            <div title="Sunday">S</div>
            <div title="Monday">M</div>
            <div title="Tuesday">T</div>
            <div title="Wednesday">W</div>
            <div title="Thursday">R</div>
            <div title="Friday">F</div>
            <div title="Saturday">S</div>
          </div>
        </div>
      </div>
    </section>



    <section class="issue-pie">
      <div class="right-div">
        <div class="team-prod-ctrl-panel">
          <h2>Open Issues by Point Weight</h2>
        </div>
        <div class="pie-and-key-wrap">
          <div class="pie-wrap">
            <div class="pie"></div>
            <div class="pie"></div>
          </div>
          <div class="key-wrap">
            <div class="pie-key">
              <div class="pie-color-wrap hide">
                <div><div class="pie-color">@(pieChart.StoryPercentage)%</div></div>
                <div><div class="pie-color">@(pieChart.BugReportPercentage)%</div></div>
              </div>
              <div class="pie-label-wrap hide">
                <div>Stories: @(pieChart.TotalStoryWeight)pts</div>
                <div>Bug Reports: @(pieChart.TotalBugReportWeight)pts</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!--
    <section class="bottleneck-indicator">
      <div class="y-info">
        <div id="bottleSprintBtn">Sprint</div>
        <div id="bottleEpicBtn">Epic</div>
        <div id="bottleInitiativeBtn">Initiative</div>
        <div id="bottleAllBtn">All</div>
      </div>

      <div class="right-div">
        <div class="team-prod-ctrl-panel">
          <div class="pagination-counter-balance"></div>
          <h2>Bottleneck Indicator</h2>
          <div class="pagination-wrap">
            <img id="bottleLeftPage" src="/Icons/paginationLeft_512x512.png" alt="">
            <img id="bottleRightPage" src="/Icons/paginationRight_512x512.png" alt="">
          </div>
        </div>
        <div class="bottleneck-stats">
          <div class="top-row">
            <div>Design</div>
            <div>Testing</div>
            <div>Front End</div>
            <div>Back End</div>
            <div>Bug Fixes</div>
          </div>
          <div class="bot-row">
            <div>10%</div>
            <div>9%</div>
            <div>35%</div>
            <div>26%</div>
            <div>20%</div>
          </div>
        </div>
        <div class="x-info">
          <h3 id="timeLabel">Time: 2 weeks</h3>
        </div>
      </div>
    </section>
    -->
</section>
