@model BugReport;
@using PMT.Services;

@{
  ViewData["title"] = "Bug Reports";
  string checkedState = (string)ViewData["checked"];
  bool checkStateForServer = (checkedState != "checked");
  bool sameStateForServer = !checkStateForServer;
  string filterText = (string)ViewData["filterString"];
  List<BugReport> bugReports = ViewData[Str.BugReports] as List<BugReport>;
}

<script type="text/javascript" src="/js/BugTracker/bugTracking.js"></script>

<section id="bugTrackingContent" class="content-container preload">
  <div class="title-wrap">
    <h1>Bug Tracking</h1>
  </div>

  <div class="table-wrap">
    <table>
      <thead>
        <tr>
          <th colspan="7">
            <div class="table-config-wrap">
              <div class="checkbox-wrap">
                <a asp-controller="@Str.BugTracker" asp-action="@Str.BugTracking" asp-route-showResolved="@checkStateForServer">
                  <input type="checkbox" name="showResolved" @checkedState>
                </a>
                <label for="showResolved">Show resolved issues</label>
              </div>

              <div class="bug-tracking-search-wrap">
                <input type="text" id="filterInput" placeholder="search..." value="@filterText" />
                <a id="filterBtn" asp-controller="@Str.BugTracker" asp-action="@Str.BugTracking" asp-route-showResolved="@sameStateForServer" class="btn">Filter</a>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th class="sortable-th" id="thDueDate">Due Date</th>
          <th class="sortable-th" id="thPriority">Priority</th>
          <th class="sortable-th" id="thPoints">Points</th>
          <th class="sortable-th" id="thDescription">Description</th>
          <th>Details</th>
          <th class="sortable-th" id="thStatus">Status</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody id="bugTrackingTbody">
        @{
          if (bugReports.Count() == 0)
          {
            <tr>
              <td colspan="7">No bug reports to display...</td>
            </tr>
          }
          @for (int i = 0; i < bugReports.Count(); i++)
          {
            <tr id="bugTrackingTR_@i">
              <td class="sortDueDate">@bugReports[i].DueDate.ToString("MMM dd, yyyy")</td>
              <td class="sortPriority">@bugReports[i].Priority</td>
              <td class="sortPoints">@bugReports[i].Points</td>
              <td class="sortDescription"><a asp-controller="@Str.BugTracker" asp-action="@Str.EditBugReport" asp-route-bugReportId="@bugReports[i].Id">@bugReports[i].Description</a></td>
              <td><a asp-controller="@Str.BugTracker" asp-action="@Str.EditBugReport" asp-route-bugReportId="@bugReports[i].Id"><img src="/Icons/Folder.png"></a></td>
              <td class="sortStatus">
                <div class="status-wrap">
                  <div class="@bugReports[i].Status"><div></div><div></div></div>
                  <label>@bugReports[i].Status</label>
                </div>
              </td>
              <td><img class="del-btn" src="/Icons/Delete.png" data-bugReportId="@bugReports[i].Id"></td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>

  <div class="report-bug-btn-wrap">
    <a asp-controller="@Str.BugTracker" asp-action="@Str.CreateBugReport" class="btn">Report Bug</a>
  </div>

</section>

<section id="delBugReportModal" class="screen-tint hide">
  <form method="post" asp-controller="@Str.BugTracker" asp-action="@Str.DeleteBugReport" class="del-bug-report-modal">
    <h3>Are you sure you want to delete this bug report?</h3>
    <div class="btn-wrap">
      <button class="btn" type="submit">Delete</button>
      <button class="btn" type="button" id="delCancelBtn">Cancel</button>
    </div>
    <input asp-for="Id" type="hidden" id="bugReportIdToDel" />
    <div class="close-btn"><img src="/icons/CloseBtn.png" tabindex="0" id="delCloseBtn" /></div>
  </form>
</section>
