@using PMT.Services;
@model BugReport;

@{
  ViewData["title"] = "Bug Report Details";
  string resolvedDate = (Model.DateResolved != DateTime.MinValue) ? Model.DateResolved.ToString("d") : "N/A";
  string currentDate = DateTime.Now.ToString("d") + " - ";

  // auto populate dates when filling these fields out
  if (string.IsNullOrEmpty(Model.AttemptedSolutions))
  {
    Model.AttemptedSolutions = currentDate;
  }
  if (string.IsNullOrEmpty(Model.SuccessfulSolution))
  {
    Model.SuccessfulSolution = currentDate;
  }
}

<script type="text/javascript" src="/js/BugTracker/editBugReport.js"></script>

<form method="post" asp-controller="@Str.BugTracker" asp-action="@Str.EditBugReport" id="bugDetailsContent" class="content-container preload">

  <div class="info-panel toggle-read-edit">
    <div>
      <label>Reported:</label>
      <span>@Model.DateCreated.ToString("d")</span>
    </div>
    <div>
      <label>Resolved</label>
      <span>@resolvedDate</span>
    </div>
    <div>
      <label>Due:</label>
      <span class="read-data">@Model.DueDate.ToString("d")</span>
      <input asp-for="DueDate" class="edit-data hide" type="date">
      <img tabindex="0" class="edit-btn" src="/icons/Edit.png">
    </div>
    <div>
      <label>Status:</label>
      <span>@Model.Status</span>
    </div>
  </div>

  <div class="title-wrap">
    <h1>Bug Details</h1>
  </div>

  <div class="toggle-read-edit priority-div">
    <div>
      <label>Priority:</label>
    </div>
    <span class="read-data">@Model.Priority</span>
    <img tabindex="0" class="edit-btn" src="/icons/Edit.png">
    <div class="priority-options-wrap edit-data hide">
      <div>
        <input asp-for="Priority" type="radio" name="Priority" value="Low" checked>
        <label for="">Low</label>
      </div>
      <div>
        <input asp-for="Priority" type="radio" name="Priority" value="Medium">
        <label for="">Medium</label>
      </div>
      <div>
        <input asp-for="Priority" type="radio" name="Priority" value="High">
        <label for="">High</label>
      </div>
    </div>
  </div>

  <div class="input-field-wrap toggle-read-edit">
    <div class="top-div">
      <label>Points:</label>
      <img tabindex="0" class="edit-btn" src="/icons/Edit.png">
    </div>
    <div class="bot-div">
      <p class="read-data">@Model.Points</p>
      <select asp-for="Points" class="edit-data hide">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="8">8</option>
        <option value="13">13</option>
      </select>
    </div>
  </div>

  <div class="input-field-wrap toggle-read-edit">
    <div class="top-div">
      <label>Issue Description:</label>
      <img tabindex="0" class="edit-btn" src="/icons/Edit.png">
    </div>

    <div class="bot-div">
      <p class="read-data">@Model.Description</p>
      <textarea asp-for="Description" class="edit-data hide">@Model.Description</textarea>
    </div>
  </div>

  <div class="input-field-wrap toggle-read-edit">
    <div class="top-div">
      <label>How to recreate the issue:</label>
      <img tabindex="0" class="edit-btn" src="/icons/Edit.png">
    </div>

    <div class="bot-div">
      <p class="read-data">@Model.RecreateIssue</p>
      <textarea asp-for="RecreateIssue" class="edit-data hide">@Model.RecreateIssue</textarea>
    </div>
  </div>

  <div class="input-field-wrap">
    <div class="top-div">
      <label>Attempted Solutions:</label>
    </div>
    <div class="bot-div">
      <textarea asp-for="AttemptedSolutions"></textarea>
    </div>
  </div>

  <div class="input-field-wrap">
    <div class="top-div">
      <label>Successful Solutions:</label>
      <img tabindex="0" id="copyBtn" src="/icons/copy.png">
    </div>
    <div class="bot-div">
      <textarea asp-for="SuccessfulSolution" id="solutionInput"></textarea>
    </div>
  </div>

  <div class="mark-as-resolved-wrap">
    <button type="button" id="resolvedBtn" class="btn">Mark as resolved</button>
    <div id="confIcon" class="confirmation hide"><div></div><div></div></div>
    <input id="statusInput" type="hidden" asp-for="Status" />
  </div>

  <div class="btn-wrap">
    <button type="submit" class="btn">Update</button>
    <a asp-controller="@Str.BugTracker" asp-action="@Str.BugTracking" class="btn">Cancel</a>
  </div>

  <img tabindex="0" id="delBtn" src="/icons/Delete.png">
  <input asp-for="Id" type="hidden" value="@Model.Id" />
  <input asp-for="ProjId" type="hidden" value="@Model.ProjId" />
  <input asp-for="DateCreated" type="hidden" value="@Model.DateCreated" />
</form>

<section id="delBugReportModal" class="screen-tint hide">
  <form method="post" asp-controller="@Str.BugTracker" asp-action="@Str.DeleteBugReport" class="del-bug-report-modal">
    <h3>Are you sure you want to delete this bug report?</h3>
    <div class="btn-wrap">
      <button class="btn" type="submit">Delete</button>
      <button class="btn" type="button" id="delCancelBtn">Cancel</button>
    </div>
    <input asp-for="Id" type="hidden" id="bugReportIdToDel" />
    <div class="close-btn"><img src="/icons/CloseBtn.png" tabindex="0" id="delCloseBtn" /></div>
  </form>
</section>
