@using PMT.Services;
@using PMT.Views.Account;
@model AccountVM;

@{
	ViewData["Title"] = "Login";
	var msgFromServer = TempData[Str.Login] ?? "default";
	var cleanLogin = (bool)ViewData[Str.CleanLogin];
}

<script type="text/javascript" src="/js/Account/login.js"></script>

<img class="background-img" src="/images/PMTAccountBackground.png">

<section id="loginContent">
	<!--
		 <a href='https://pngtree.com/freebackground/simple-white-flat-vectors-with-diagonal-cuts-decorative-backdrops-for-your-landing-page-web-app-design-digital-projects-in-abstract-style_1353885.html'>free background photos from pngtree.com/</a>
	-->
	@if (cleanLogin == false)
	{
		<form method="post" asp-controller="@Str.Account" asp-action="@Str.Logout" class="hide" id="cleanLoginForm"></form>
	}

	<div class="title-wrap">
		<h1>Project Manager</h1>
	</div>
	<form method="post" asp-controller="@Str.Account" asp-action="@Str.Login" class="login-form">
		<div class="input-wrap">
			<input asp-for="Email" id="loginEmail" type="text" placeholder="Email" autocomplete="email">
			<span id="loginEmailErr" class="err hide"></span>
			<span id="errEmailFailedLogin" class="err hide"></span>
		</div>
		<div class="input-wrap">
			<input asp-for="Password" id="loginPass" type="password" placeholder="Password" autocomplete="new-password">
			<img tabindex="0" src="/icons/passInvisible_512x512.png" class="passHideBtn hide">
			<img tabindex="0" src="/icons/passVisible_512x512.png" class="passShowBtn">
			<span id="loginPassErr" class="err hide"></span>
			<span id="errPassFailedLogin" class="err hide"></span>
		</div>
		<div class="btn-wrap">
			<button type="submit" class="btn">Login</button>
		</div>
		<div class="btn-wrap">
			<button type="button" id="demoBtn" class="btn">Demo Login</button>
		</div>
	</form>
	<div class="link-div">
		<div>
			<a tabindex="0" id="recoverPassBtn">Recover Password</a>
		</div>
		<div>
			<a asp-controller="@Str.Account" asp-action="@Str.Register" tabindex="0">Register</a>
		</div>
		<div>
			<a tabindex="0" id="resendEmailConfBtn">Resend Email Confirmation</a>
		</div>
	</div>

	@if ((string)msgFromServer == Str.failed_login_attempt)
	{
		<div class="failed-login hide"></div>
	}
</section>

<section id="demoModal" class="screen-tint hide">
	<div class="login-modal">
		<h3>Demo Role</h3>
			<form method="post" asp-controller="@Str.Account" asp-action="@Str.Login">
				<input asp-for="Email" type="hidden" value="emp@demo.com" id="employeeEmail" autocomplete="off" />
				<input asp-for="Password" type="hidden" value="Ab34567*" id="employeePassword" autocomplete="off" />
				<button class="btn" type="submit">Employee</button>
			</form>
			<form method="post" asp-controller="@Str.Account" asp-action="@Str.Login">
				<input asp-for="Email" type="hidden" value="admin@demo.com" id="adminEmail" autocomplete="off" />
				<input asp-for="Password" type="hidden" value="Ab34567*" id="adminPassword" autocomplete="off" />
				<button class="btn" type="submit">Admin</button>
			</form>
		<div class="close-btn"><img src="/icons/closeBtn.png" tabindex="0" id="demoCloseBtn" /></div>
	</div>
</section>

<section id="recoverPassModal" class="screen-tint hide">
	<div class="login-modal">
		<h3>Password Recovery</h3>
		@if ((string)msgFromServer == Str.recovery_email_sent)
		{
			<div class="confirmation-wrap">
				<span>Check your email to recover your account.</span>
				<div class="confirmation"><div></div><div></div></div>
			</div>
		}
		else
		{
			<form method="post" asp-controller="@Str.Account" asp-action="@Str.ForgotPassword" id="recoverPassForm">
				<div class="input-err-wrap">
					<input asp-for="Email" id="loginForgotPassEmail" placeholder="email" />
					<span id="loginForgotPassEmailErr" class="err errEmail hide"></span>
				</div>
				<button class="btn" type="submit">Recover</button>
			</form>
		}
		<div class="close-btn"><img src="/icons/closeBtn.png" tabindex="0" id="recoverPassCloseBtn" /></div>
	</div>
</section>

<section id="resendEmailConfModal" class="screen-tint hide">
	<div class="login-modal">
		<h3>Resend Email Confirmation</h3>
		@if ((string)msgFromServer == Str.conf_email_sent)
		{
			<div class="confirmation-wrap">
				<span>Check your email to confirm your account.</span>
				<div class="confirmation"><div></div><div></div></div>
			</div>
		}
		else
		{
			<form method="post" asp-controller="@Str.Account" asp-action="@Str.ResendEmailConf" id="resendEmailConfForm">
				<div class="input-err-wrap">
					<input asp-for="Email" id="loginResendEmailConfEmail" placeholder="email" />
					<span id="loginResendEmailConfEmailErr" class="err errEmail hide"></span>
				</div>
				<button class="btn" type="submit">Resend Confirmation</button>
			</form>
		}
		<div class="close-btn"><img src="/icons/closeBtn.png" tabindex="0" id="resendEmailConfCloseBtn" /></div>
	</div>
</section>
