@using PMT.Services;
@model ColorPalette;

@{
  ViewData["Title"] = "Color Palette";
  List<string> colorData = Str.ExtractData(Model.Colors);
}

<script type="text/javascript" src="/js/SRS/colorPalette.js"></script>

<form method="post" asp-controller="@Str.SRS" asp-action="@Str.ColorPalette" id="colorPaletteContent" class="content-container preload">
  <div class="title-wrap">
    <h1>Color Palette</h1>
  </div>

  <div id="movableYesNoWrap" class="yes-no-wrap hide">
    <img id="confirmBtn" src="/icons/confirm.png">
    <img id="denyBtn" src="/icons/deny.png">
  </div>

  @for (int i = 0; i < colorData.Count(); i++)
  {
    <div class="color-container">
      <div class="color-wrap">
        <input type="color" value="@colorData[i]">
        <input type="text" value="@colorData[i]">
        <img class="copy-btn" src="/icons/copy.png">
        <img class="del-btn" src="/icons/Delete.png">
      </div>
    </div>
  }

  <div id="addColorBtn" class="add-color-wrap">
    <label>add color</label>
    <img src="/icons/Plus.png">
  </div>

  <div class="btn-wrap">
    <button type="submit" class="btn">Save</button>
    <a asp-controller="SRS" asp-action="SRS" asp-route-jumpTarget="#colorPaletteTarget" class="btn">Back</a>
  </div>
  <input asp-for="Id" type="hidden" value="@Model.Id" />
  <input asp-for="ProjId" type="hidden" value="@Model.ProjId" />
  <input asp-for="Colors" type="hidden" id="colorData" />
</form>
