@using PMT.Services;
@model FileStructure;

@{
  ViewData["Title"] = "File Structure";
  ViewData["_FileStructure"] = Model.FileStructureData;
}

<script type="text/javascript" src="~/js/SRS/fileStructure.js"></script>

<form method="post" asp-controller="@Str.SRS" id="fileStructureContent" class="content-container preload">
  <div class="title-wrap">
    <h1>File Structure</h1>
  </div>

  <div id="fileStructure" class="file-structure">
    <partial name="_FileStructureContent" view-data="ViewData">
  </div>

  <div id="ctxMenu" class="ctx-menu-styles hide-menu">
    <div id="ctxMenuNew" class="ctx-item-wrap has-submenu">
      <img src="../icons/Plus.png" />
      <label>New</label>
      <img src="../icons/ContextMenuArrow.png" />
    </div>
    <div id="ctxMenuRename" class="ctx-item-wrap">
      <img src="../icons/Edit.png" />
      <label>Rename</label>
    </div>
    <div id="ctxMenuDelete" class="ctx-item-wrap">
      <img src="../icons/Delete.png" />
      <label>Delete</label>
    </div>

    <div id="subMenu" class="ctx-menu-styles sub-menu hide-menu">
      <div id="ctxMenuFolder" class="ctx-item-wrap">
        <img src="../icons/Folder.png" />
        <label>Folder</label>
      </div>
      <div id="ctxMenuFile" class="ctx-item-wrap">
        <img src="../icons/File.png" />
        <label>File</label>
      </div>
    </div>
  </div>

  <div class="btn-wrap">
    <input type="submit" class="btn" value="Submit" formaction="FileStructureSubmit">
    <input type="submit" class="btn" value="Save" formaction="FileStructureSave">
    <a asp-controller="@Str.SRS" asp-action="@Str.SRS" asp-route-jumpTarget="#fileStructureTarget" class="btn">Back</a>
  </div>
  <input asp-for="Id" type="hidden" value="@Model.Id" />
  <input asp-for="ProjId" type="hidden" value="@Model.ProjId" />
  <input asp-for="FileStructureData" type="hidden" id="fileStructureDataInput" />
</form>
