@using PMT.Services;
@model ModelPlanning;

@{
	ViewData["Title"] = "Models and Validation";
  List<string> modelData = Str.ExtractData(@Model.Models);
  List<List<string>> propData = Str.ExtractProperties(@Model.Properties);
  List<List<List<string>>> validationData = Str.ExtractValidations(@Model.Validations);
}

<script type="text/javascript" src="~/js/SRS/modelsAndValidation.js"></script>

<form method="post" asp-controller="@Str.SRS" id="modelsAndValidationContent" class="content-container preload">
  <div class="title-wrap">
    <h1>Models</h1>
  </div>

  <div id="movableYesNoWrap" class="yes-no-wrap hide">
    <img id="confirmBtn" src="~/icons/confirm.png">
    <img id="denyBtn" src="~/icons/deny.png">
  </div>

  @if (modelData.Count() == 0)
  {
    <div class="model-wrap">
      <div class="model-content">
        <img tabindex="0" class="show-props-btn" src="~/icons/ContextMenuArrow.png">
        <input type="text" placeholder="model name">
        <img tabindex="0" class="del-btn" src="~/icons/Delete.png">
        <img tabindex="0" class="add-property-btn add-btn" src="~/icons/Plus.png">
        <label class="add-label">add property</label>
      </div>

      <div class="property-container hide">
      </div>
    </div>
  }

  @for (int i = 0; i < modelData.Count(); i++)
  {
    // prop index is tracked manually because prop for loop iterates by 2's
    int propIndex = -1;

    <div class="model-wrap">
      <div class="model-content">
        <img tabindex="0" class="show-props-btn rotate-expansion-arrow" src="~/icons/ContextMenuArrow.png">
        <input type="text" placeholder="model name" value="@modelData[i]">
        <img tabindex="0" class="del-btn" src="~/icons/Delete.png">
        <img tabindex="0" class="add-property-btn add-btn" src="~/icons/Plus.png">
        <label class="add-label">add property</label>
      </div>

      <div class="property-container">
        @for (int j = 0; j < propData[i].Count(); j+= 2)
        {
          propIndex++;

          <div class="property-wrap">
            <div class="property-content">
              <img tabindex="0" class="show-props-btn rotate-expansion-arrow" src="~/icons/ContextMenuArrow.png">
              <div class="custom-dropdown-wrap">
                <select class="custom-dropdown">
                  <option value="string">string</option>
                  <option value="int">int</option>
                  <option value="DateTime">DateTime</option>
                  <option value="bool">bool</option>
                  <option value="float">float</option>
                  <option value="double">double</option>
                  <option value="custom">&lt;custom&gt;</option>
                </select>
                <div class="custom-dropdown-input-wrap hide">
                  <input type="text" placeholder="type" value="@propData[i][j]" class="custom-dropdown-input">
                  <img src="~/Icons/ContextMenuArrow.png" class="custom-dropdown-arrow" />
                </div>
              </div>
              <input type="text" placeholder="property name" value="@propData[i][j+1]">
              <img tabindex="0" class="del-btn" src="~/icons/Delete.png">
              <img tabindex="0" class="add-validation-btn add-btn" src="~/icons/Plus.png">
              <label class="add-label">add validation</label>
            </div>

            <div class="validation-container">
              @for (int k = 0; k < validationData[i][propIndex].Count(); k++)
              {
                <div class="validation-wrap">
                  <div class="validation-content">
                    <input type="text" placeholder="validation" value="@validationData[i][propIndex][k]">
                    <img tabindex="0" class="del-btn" src="~/icons/Delete.png">
                  </div>
                </div>
              }
            </div>
          </div>
        }
      </div>
    </div>
  }

  <div class="btn-wrap">
    <input type="submit" class="btn" value="Submit" formaction="ModelsAndValidationSubmit">
    <input type="submit" class="btn" value="Save" formaction="ModelsAndValidationSave">
    <button type="button" class="btn" id="addModelBtn">Add Model</button>
    <a asp-controller="SRS" asp-action="SRS" asp-route-jumpTarget="#modelsAndValidationTarget" class="btn">Back</a>
  </div>
  <input asp-for="Id" type="hidden" value="@Model.Id" />
  <input asp-for="ProjId" type="hidden" value="@Model.ProjId" />
  <input asp-for="Models" type="hidden" id="modelData" />
  <input asp-for="Properties" type="hidden" id="propData" />
  <input asp-for="Validations" type="hidden" id="validationData" />
</form>
