@using PMT.Services;
@model SRS;

@{
  ViewData["Title"] = "Software Requirement Specification";
  string jumpTarget = (string)ViewData["JumpTarget"];

  TechStack stack = ViewData[Str.TechStack] as TechStack;
  FileStructure fileStructure = ViewData[Str.FileStructure] as FileStructure;
  ViewData["_FileStructure"] = fileStructure.FileStructureData;

  ColorPalette palette = ViewData[Str.ColorPalette] as ColorPalette;
  string colors = palette.Colors ?? string.Empty;
  List<string> colorData = Str.ExtractData(colors);

  ModelPlanning modelPlan = ViewData[Str.ModelsAndValidation] as ModelPlanning;
  List<string> modelData = Str.ExtractData(modelPlan.Models);
  List<List<string>> propData = Str.ExtractProperties(modelPlan.Properties);
  List<List<List<string>>> validationData = Str.ExtractValidations(modelPlan.Validations);
}

<script type="text/javascript" src="/js/SRS/SRS.js"></script>
<input type="hidden" id="jumpTargetForJs" data-jump-target="@jumpTarget"/>

<section id="SRSContent" class="content-container preload">
  <div class="title-wrap">
    <h1>Software Requirement Specification</h1>
  </div>

  <form method="post" asp-controller="@Str.SRS", asp-action="@Str.SRS">
    <div class="input-wrap">
      <label>Domain Name:</label>
      <input asp-for="DomainName" type="text">
    </div>
    <div class="input-wrap">
      <label>Target Demographic:</label>
      <textarea asp-for="TargetDemographic" type="text"></textarea>
    </div>
    <div class="input-wrap">
      <label>Description:</label>
      <textarea asp-for="Description" type="text"></textarea>
    </div>
    <button type="submit" class="btn">Update Above Fields</button>
    <input asp-for="Id" type="hidden" value="@Model.Id" />
    <input asp-for="ProjId" type="hidden" value="@Model.ProjId" />
  </form>
  <section id="techStackTarget">
    <div class="section-title">
      <h2>Tech Stack</h2>
      <a asp-controller="@Str.SRS" asp-action="@Str.TechStack"><img tabindex="0" class="edit-btn" src="/icons/Edit.png"></a>
    </div>
    <div class="tech-stack-wrap">
      <div>
        <label>Framework:</label>
        <span>@stack.BackendFramework</span>
      </div>
      <div>
        <label>Backend Language:</label>
        <span>@stack.BackendLanguage</span>
      </div>
      <div>
        <label>Frontend Framework:</label>
        <span>@stack.FrontendFramework</span>
      </div>
      <div>
        <label>Frontend Language:</label>
        <span>@stack.FrontendLanguage</span>
      </div>
      <div>
        <label>Source Control:</label>
        <span>@stack.SourceControl</span>
      </div>
      <div>
        <label>Styling:</label>
        <span>@stack.Styling</span>
      </div>
      <div>
        <label>Database:</label>
        <span>@stack.Database</span>
      </div>
      <div>
        <label>UI Design:</label>
        <span>@stack.UIDesign</span>
      </div>
      <div>
        <label>Deployment:</label>
        <span>@stack.Deployment</span>
      </div>
    </div>
  </section>
  <section id="fileStructureTarget">
    <div class="section-title">
      <h2>File Structure</h2>
      <a asp-controller="@Str.SRS" asp-action="@Str.FileStructure"><img tabindex="0" class="edit-btn" src="/icons/Edit.png"></a>
    </div>
    
    <div class="btn-wrap">
      <button type="button" id="exportFrontendScaffoldDataBtn" class="btn">Export Frontend<br />Scaffold Data</button>
      <button type="button" id="exportFrontendScaffoldDataSignalRBtn" class="btn">Export Frontend Scaffold<br />Data With SignalR</button>
    </div>

    <div id="fileStructure" class="file-structure">
      <partial name="_FileStructureContent" view-data="ViewData">
    </div>
  </section>
  <section id="colorPaletteTarget">
    <div class="section-title">
      <h2>Color Palette</h2>
      <a asp-controller="@Str.SRS" asp-action="@Str.ColorPalette"><img tabindex="0" class="edit-btn" src="/icons/Edit.png"></a>
    </div>
    @for (int i = 0; i < colorData.Count(); i++)
    {
      <div class="color-data-wrap">
        <div style="background-color: @colorData[i];"></div>
        <label>@colorData[i]</label>
      </div>
    }
  </section>
  <section id="modelsAndValidationTarget">
    <div class="section-title">
      <h2>Models and Validation</h2>
      <a asp-controller="@Str.SRS" asp-action="@Str.ModelsAndValidation"><img tabindex="0" class="edit-btn" src="/icons/Edit.png"></a>
    </div>

    <button type="button" id="exportBackendScaffoldDataBtn" class="btn" data-models="@modelPlan.Models" data-props="@modelPlan.Properties">Export Backend<br />Scaffold Data</button>

    @for (int i = 0; i < modelData.Count(); i++)
    {
      // prop index is tracked manually because prop for loop iterates by 2's
      int propIndex = -1;

      <div class="model-wrap">
        <label>@modelData[i]</label>
      @for (int j = 0; j < propData[i].Count(); j += 2)
      {
        <span>@propData[i][j] @propData[i][j+1]</span>
        propIndex++;
        @for (int k = 0; k < validationData[i][propIndex].Count(); k++)
        {
          <p>@validationData[i][propIndex][k]</p>
        }
      }
      </div>
    }
  </section>
</section>
